<div class="text-section">
    <h2 class="f-24"><b>第8章 基于Java的数据库访问接口JDBC</b></h2>
</div>
<div class="ppt-wrap">
	<iframe frameborder="0" scrolling="no" src="uploads/ppt/8.pdf" width="100%" height="540"></iframe>
	<div class="download-link"><a href="uploads/ppt/8.ppt"><i class="iconfont icon-download2"></i></a></div>
</div>
<div class="advice-wrap">
	<a href="uploads/ppt/8.ppt">请使用您的PC来获取更好的在线浏览体验，或<span>点击此处下载</span></a>
</div>

<div class="row teach-resource-nav">
	<div class="nav-item col-md-4 col-xs-4 text-center" ui-sref='ppt_7'>
		上一章
	</div>
	<div class="nav-item col-md-4 col-xs-4 text-center" ui-sref='teachResource_1'>
		目录
	</div>
	<div class="nav-item col-md-4 col-xs-4 text-center" ui-sref='ppt_9'>
		下一章
	</div>
</div>