<div class="text-section">
    <p class="user-classify"><b>&gt;&nbsp;课程设计分组情况</b></p>
</div>
<div class="text-section">
    <div class="homework-item">
        <div class="item-head clearfix"x>
            <span class="doc-name">第一组</span>
            <span class="deadline"><button class="btn btn-sm btn-primary">加入</button></span>
        </div>
        <div class="item-detail">
            <p>小组成员：</p>
            <p>1.杨哈哈</p>
            <p>2.刘哈哈</p>
        </div>
    </div>
    <div class="homework-item">
        <div class="item-head clearfix"x>
            <span class="doc-name">第二组</span>
            <span class="deadline"><button class="btn btn-sm btn-primary">加入</button></span>
        </div>
        <div class="item-detail">
            <p>小组成员：</p>
            <p>1.杨哈哈</p>
            <p>2.刘哈哈</p>
        </div>
    </div>
    <div class="homework-item">
        <div class="item-head clearfix"x>
            <span class="doc-name">第三组</span>
            <span class="deadline"><button class="btn btn-sm btn-primary">加入</button></span>
        </div>
        <div class="item-detail">
            <p>小组成员：</p>
            <p>1.杨哈哈</p>
            <p>2.刘哈哈</p>
        </div>
    </div>
</div>