<div class="text-section">
    <p class="user-classify"><b>&gt;&nbsp;课程设计分组说明</b></p>
</div>
<div class="text-section">
    <p class="c-red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;默认小组一号成员为小组长，提交作业时由小组长提交</p>
</div>
<div class="text-section">
    <p class="user-classify"><b>&gt;&nbsp;课程设计分组情况</b></p>
</div>
<div class="text-section">
    <div ng-hide="isNotEmpty">
        <p ng-show="student">还未有分组，请等待老师安排</p>
    </div>
    <div ng-show="teacher">
        <div ng-hide="isNotEmpty">
            <p>还未有分组，请填写每个小组的人数</p>
            <div class="form-group form-inline mt-20">
                <input type="number" class="form-control mr-10" ng-model="numPerGroup">
                <button class="btn btn-primary" ng-click="createGroups()">生成分组</button>
            </div>
        </div>
    </div>
    <div class="homework-item" ng-repeat="value in groups track by $index" data-groupID="{{group_id = value.group_id}}">
        <div class="item-head clearfix">
            <span class="doc-name">第{{$index+1}}组</span>
            <span class="deadline" ng-hide="hasGroup"><button class="btn btn-sm btn-primary" ng-click="enterGroup()">加入</button></span>
            <span class="deadline" ng-show="teacher"><button class="btn btn-sm btn-primary" ng-click="groupDetail()">查看小组</button></span>
        </div>
        <div class="item-detail">
            <p>小组成员：</p>
            <p ng-repeat="member in value.group_member track by $index">{{$index+1}}.<span class="c-red">{{member.name}}</span></p>
        </div>
    </div>
</div>
