<div class="text-section">
    <h2 class="f-24"><b>JavaEE相关资源</b></h2>
</div>
<div class="content-section all-p-section">
    <p><b>一.J2EE基础</b></p>
    <p>1.《Java编程思想》初学Java时阅读这本书觉得好难，阅读第二遍时才觉得讲的很细致。这是一本不怕多读的好书。</p>
    <p>2.《J2EE应用与BEA WebLogic Server》用实例详细讲了J2EE各个技术细节:Servlet,JSP,JDBC,JNDI,JMS,EJB(Session,Entity,Message) Java-Mail,JAAS。是快速学习J2EE技术的好书。</p>
    <p>3.《精通EJB》MASTERING JavaBeans Enterprise的中文版，EJB的细节讲的很好，是深入EJB的好参考。</p>
    <p><b>二.设计</b></p>
    <p>J2EE架构师除了熟悉J2EE技术外更多的需要关注分析、设计、建模、以及发挥技术领导的作用，因此需要在面向对象设计领域打下坚实的基础。</p>
    <p>1.《UML和模式应用》结合UML讲述面向对象，非常适合初学UML和面向对象。MartinFowler 认为它是进入00世界的最佳的一本图书。</p>
    <p>2.《设计模式：可复用面向对象软件的基础》模式四人帮的经典书，不用多说了吧。</p>
    <p>3.《Java与模式》很喜欢这本书的很中文化的例子，很地道。厚度是它的优点、同样是它的缺点。</p>
    <p>4.《J2EE核心模式》J2EE架构师必看的一本，是做J2EE架构设计的好书。</p>
    <p>5.《EJB设计模式》做EJB Designe的好书。</p>
    <p>6.《敏捷软件开发：原则、模式与实践》荣获美国《软件开发》第13届震憾（Jolt）大奖！CSDN专家孟岩力荐。</p>
    <p>7.《企业应用架构模式》面向对象大师Martin Fowler大作。书中有很多模式已经被应用到开源项目中，尤其是持久层的模式。</p>
    <p>8.《软件架构：组织原则与模式》讲软件架构理论与实践方面很深入的一本书。著名IT咨询专家张讯翻译的。</p>
    <p> 9.《重构：改善既有代码的设计（中文版）》大师Martin Fowler的力作，大师的作品就是不同，技术书籍都可以写得通俗易懂、而且幽默。</p>
    <p>10.《统一软件开发过程》这是Rational三位大师(Ivar Jacobson, Grady Booch, James Rumbaugh )的力作。是学习RUP精髓的好书。</p>
</div>
