<div class="text-section">
    <h2 class="f-24"><b>课程论坛</b></h2>
</div>
<div class="text-section">
	<div class="homework-item" ng-repeat="value in posts track by $index" data-postId="{{postId = value.post_id}}">
	    <div class="item-head clearfix">
	        <span class="doc-name" ng-click="showDetail()">{{value.title}}</span>
	        <span class="deadline">
				<button class="btn btn-success btn-sm" ng-click="showPopUp()">回复</button>
				<button class="btn btn-danger btn-sm" ng-show="teacher" ng-click="deletePost()">删除</button>
			</span>
	    </div>
	    <div class="item-detail" ng-show="detail">
	    	<p class="text-muted">发布人：{{value.post_user}}&nbsp;&nbsp;发布日期:{{value.post_date}}</p>
	    	<p class="text-primary f-18">用户评论：</p>
	    	<div class="mt-10"></div>
	    	<div class="f-14">
	        	<p ng-repeat="value2 in value.comment">{{value2.name}}：&nbsp;{{value2.comment}}</p>
	    	</div>
	    </div>
	</div>
</div>
<div class="bot-wrap">
    <div class="form-group form-inline text-center">
    	<input type="text" class="form-control" ng-model="forumQuestion" style="display: inline-block;width: 80%;">
    	<button class="btn btn-default" ng-click="postQuestion()">提问</button>
    </div>	
</div>
<div class="pop-up-wrap" ng-show="popUp">
	<div class="pop-up">
	    <p class="title">
	        评论
	    </p>
	    <div class="main">
	        <div class="form-group">
	        	<label for="">您的评论：</label>
	        	<textarea class="form-control" ng-model="forumComment"></textarea>
	        </div>
	    </div>
	    <div class="btn-wrap text-center">
	        <button class="btn btn-primary" ng-click="comment()" style="width: 30%;">回复</button>
	        <button class="btn btn-default" ng-click="hidePopUp()" style="width: 30%;margin-left: 20px;">取消</button>
	    </div>
	</div>
</div>
