<div>
	<img src="static\images\logo.bmp" style="width: 100%" alt="">
	<div class="row">
		<div class="home-item col-md-6 col-xs-4" ui-sref="introduce">
			<i class="iconfont icon-introduce"></i>
			<p class="title">课程介绍</p>
			<p>COURSE INTRODUCTION</p>
		</div>
		<div class="home-item col-md-6 col-xs-4" ui-sref="teachTeam_1">
			<i class="iconfont icon-team"></i>
			<p class="title">教学队伍</p>
			<p>TEACHING TEAM</p>
		</div>
		<div class="home-item col-md-6 col-xs-4" ui-sref="teachResource_1">
			<i class="iconfont icon-class"></i>
			<p class="title">开始课程</p>
			<p>START COURSE</p>
		</div>
		<div class="home-item col-md-6 col-xs-4" ui-sref="homework">
			<i class="iconfont icon-download"></i>
			<p class="title">作业下载</p>
			<p>HOMEWORK DOWNLOAD</p>
		</div>
		<div class="home-item col-md-6 col-xs-4" ui-sref="onlineQuiz">
			<i class="iconfont icon-practice"></i>
			<p class="title">在线练习</p>
			<p>ONLINE PRACTICE</p>
		</div>
		<div class="home-item col-md-6 col-xs-4" ui-sref="forum">
			<i class="iconfont icon-chat"></i>
			<p class="title">课程论坛</p>
			<p>COURSE FORUM</p>
		</div>
	</div>
</div>