<div class="text-section">
    <h2 class="f-24"><b>教学改革与研究</b></h2>
</div>
<div class="content-section">
    <p>1.&nbsp;教改研究项目： </p>
    <p>即将申报2015年校级教改项目（本科课程中心专项）：案例与项目融合的《J2EE及其开发环境》教学模式的优化与实践。 </p>
    <p>2.&nbsp;教学改革措施： </p>
    <p>《J2EE及其开发环境》课程的教学目标是培养学生在J2EE(已经正式更名为JavaEE)平台上进行企业级web应用开发的能力。为了更好地完成教学目标以及提升学生的J2EE开发能力，本项目提出了基于案例与项目融合的教学改革方案。那么教学改革的主要思路是：通过把课程中关于J2EE开发技术的典型程序案例与J2EE课程的实践项目进行深度融合，做到典型案例为实践项目提供示范蓝本，而实践项目为典型案例提供实际应用情景，通过示范、学习及实践提高以最佳方式实现课程理论学习与实践开发的结合，从而最大限度地提升教学效果以及学生的实际开发能力，为即将步入工作岗位的大学毕业生打下坚实的工作基础。 </p>
    <p>3.&nbsp;教改项目目标： </p>
    <p>在现有《J2EE及其开发环境》课程教学中，大部分章节都会通过J2EE开发技术的程序案例进行开发示范；而课程实践环节又会通过具体应用项目来驱动学生进行J2EE的开发实践。但是课程的案例示范与实践开发项目相对独立，缺乏深度融合。《J2EE及其开发环境》的基于案例与项目融合的教学改革方案就是要实现典型案例与实践项目的深度融合，以一体化的教学方案最大限度地提升学生的实际开发能力。项目的具体目标包括： </p>
    <p>首先，授课教师选取1~2个能够尽量涵盖J2EE开发技术的企业级Web应用的实际系统，作为J2EE各相关开发技术的典型程序案例的项目蓝本，并从项目蓝本中形成用于讲解J2EE主要开发技术如Servlet、JSP、JDBC及EJB等的典型程序案例。学生可以自由分组成立项目开发小组进行课程项目实践。项目可以来自于课程的备选开发项目库，当然更鼓励学生根据以往的项目经验、兴趣爱好甚至是毕业论文的选题方向来自主确定J2EE课程的实践性开发项目。 </p>
    <p>其次，教师在进行J2EE开发技术理论讲授时，通过典型程序案例对学生的实际J2EE项目开发进行蓝本示范，并重点说明相关技术在实际项目开发中的如何应用。学生开发小组就可以按照分工以典型程序案例为示范，分阶段进行实践项目相关部分的开发工作。 </p>
    <p>最后，项目小组在课程项目实践的最后环节，对已有开发工作进行整合、部署、调试测试等工作，授课教师通过项目答辩的方式对学生的实践项目开发进行考核和评分，作为课程的实践环节得分计入课程总分。 </p>
    <p> </p>
</div>
