<div class="text-section">
    <h2 class="f-24"><b>课程负责人</b></h2>
</div>
<div class="content-section">

    <img src="static/images/teacherPic.png" alt="">

    <p class="mt-10">张晓刚，汉族，中共党员，籍贯山西省河曲县，2004年7月到暨南大学计算机系工作，2014年12月在中南大学信息科学与工程学院获得工学博士学位。暨南大学计算机系计算机应用教研室教师，讲师。 </p>
    <p class="mt-10"><b>研究方向：</b>数据库、数据集成、数据一致性查询等。主要研究包括数据集成环境下实化视图在线增量维护方法以及非一致数据库上的高效一致性查询方法，并在暨南大学高性能数据库实验室作为主要成员进行企业信息集成中间件EII(Enterprise&nbsp;Information&nbsp;Integration)的设计、开发及应用推广工作。 </p>
    <p class="mt-10"><b>近5年来讲授的主要课程： </b></p>
    <table class="mt-10 team-table" align="center" border=1>
        <tr>
            <th width="6%" valign="center">
                <p>序号 </p>
            </th>
            <th width="15%" valign="center">
                <p>时间 </p>
            </th>
            <th width="19%" valign="center">
                <p>课程名称 </p>
            </th>
            <th width="21%" valign="center">
                <p>专业/课程类别 </p>
            </th>
            <th width="38" valign="center">
                <p>总学时 </p>
            </th>
            <th width="24" valign="center">
                <p>届数 </p>
            </th>
            <th width="41" valign="center">
                <p>总人数 </p>
            </th>
        </tr>
        <tr>
            <td width="6%" valign="center">
                <p>1 </p>
            </td>
            <td width="12%" valign="center">
                <p>2009-2014 </p>
            </td>
            <td width="19%" valign="center">
                <p>J2EE及其开发环境 </p>
            </td>
            <td width="21%" valign="center">
                <p>计算机类多专业/本科 </p>
            </td>
            <td width="4%" valign="center">
                <p>225 </p>
            </td>
            <td width="4%" valign="center">
                <p>5 </p>
            </td>
            <td width="4%" valign="center">
                <p>200 </p>
            </td>
        </tr>
        <tr>
            <td width="6%" valign="center">
                <p>2 </p>
            </td>
            <td width="12%" valign="center">
                <p>2009-2014 </p>
            </td>
            <td width="19%" valign="center">
                <p>计算机导论 </p>
            </td>
            <td width="21%" valign="center">
                <p>计算机科学与技术专业/本科 </p>
            </td>
            <td width="4%" valign="center">
                <p>225 </p>
            </td>
            <td width="4%" valign="center">
                <p>5 </p>
            </td>
            <td width="4%" valign="center">
                <p>300 </p>
            </td>
        </tr>
        <tr>
            <td width="6%" valign="center">
                <p>3 </p>
            </td>
            <td width="12%" valign="center">
                <p>2009-2014 </p>
            </td>
            <td width="19%" valign="center">
                <p>高级语言程序设计 </p>
            </td>
            <td width="21%" valign="center">
                <p>软件工程、网络工程专业/本科 </p>
            </td>
            <td width="4%" valign="center">
                <p>360 </p>
            </td>
            <td width="4%" valign="center">
                <p>5 </p>
            </td>
            <td width="4%" valign="center">
                <p>360 </p>
            </td>
        </tr>
        <tr>
            <td width="6%" valign="center">
                <p>4 </p>
            </td>
            <td width="12%" valign="center">
                <p>2009-2014 </p>
            </td>
            <td width="19%" valign="center">
                <p>面向对象程序设计 </p>
            </td>
            <td width="21%" valign="center">
                <p>软件工程、网络工程专业/本科 </p>
            </td>
            <td width="38" valign="center">
                <p>250 </p>
            </td>
            <td width="24" valign="center">
                <p>5 </p>
            </td>
            <td width="41" valign="center">
                <p>300 </p>
            </td>
        </tr>
        <tr>
            <td width="6%" valign="center">
                <p>5 </p>
            </td>
            <td width="12%" valign="center">
                <p>2009-2014 </p>
            </td>
            <td width="19%" valign="center">
                <p>Oracle数据库及其应用 </p>
            </td>
            <td width="21%" valign="center">
                <p>计算机类多专业/本科 </p>
            </td>
            <td width="38" valign="center">
                <p>225 </p>
            </td>
            <td width="24" valign="center">
                <p>5 </p>
            </td>
            <td width="41" valign="center">
                <p>240 </p>
            </td>
        </tr>
    </table>

    <p class="mt-20"><b>主要著作： </b></p>
    <ol class="mt-10">
      <li>1.面向数据集成的一种高效一致性查询方法[J].&nbsp;电子学报,&nbsp;2014,&nbsp;42(8):&nbsp;1474-1479&nbsp;(EI收录) </li>
      <li>2.数据集成环境下一种高效一致性聚集查询[J].&nbsp;计算机学报,&nbsp;2014,&nbsp;37(9):&nbsp;1936-1946&nbsp;(EI收录) </li>
      <li>3.通过源关系补偿降低实化视图维护查询代价[J].&nbsp;北京工业大学学报,&nbsp;2012,&nbsp;38(7):1093-1098&nbsp;(EI收录) </li>
      <li>4.共享多版本源视图的多实化视图异   步增量维护[J].华中科技大学学报(自然科学版),&nbsp;2013,41(3):52-56&nbsp;(EI收录) </li>
      <li>5.Incremental view maintenance based on data source compensation in data warehouses, Proceedings of 2010 International Conference on Computer Application and System Modeling, 2287-2291, Shanxi, Taiyuan, 2010.10.22-24 (EI收录)) </li>
      <li>6.基于日志的数据库更新通用外部监测方法[J].&nbsp;计算机工程,&nbsp;2006,32(2):79-81 </li>
      <li>7.MS&nbsp;SQL&nbsp;Server&nbsp;2000日志分析方法的研究与实现[J].&nbsp;计算机工程与设计,&nbsp;2006,27(19) </li>
      <li>8.JDOM和DOM之比较[J].科学技术与工程,2006,6(21):3487-3490 </li>
      <li>9.基于JXTA技术的P2P应用系统的研究与开发[J].&nbsp;微型电脑应用,2006,22(1):25-27 </li>
    </ol>
</div>
