<ul class="word-list">
    <li class="list-item clearfix" ui-sref="ppt_1">
        第1章 Web应用概述
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="ppt_2">
        第2章 JavaEE概述
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="ppt_3">
        第3章 HTML基础知识
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="ppt_4">
        第4章 HTTP协议
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="ppt_5">
        第5章 J2EE开发环境的构建
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="ppt_6">
        第6章 基于Java Servlet的Web程序开发
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="ppt_7">
        第7章 基于JSP的Web程序开发
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="ppt_8">
        第8章 基于Java的数据库访问接口JDBC
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="ppt_9">
        第9章 EJB的原理与开发
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="ppt_10">
        第10章 Web服务介绍
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="ppt_11">
        第11章 JavaEE开源框架介绍
        <i class="iconfont icon-arrow"></i>
    </li>
</ul>
