<div class="text-section">
    <h2 class="f-24"><b>课题组主要成员</b></h2>
</div>
<div class="content-section">
    <table class="team-table" border=1>
        <tr>
            <td width="78" valign="center">
                <p>姓名 </p>
            </td>
            <td width="53" valign="center">
                <p>年龄 </p>
            </td>
            <td width="80" valign="center">
                <p>职称/职务 </p>
            </td>
            <td width="91" valign="center">
                <p>工作单位 </p>
            </td>
            <td width="75" valign="center">
                <p>分工 </p>
            </td>
            <td width="140" valign="center">
                <p>是否为本科教学核心团队成员 </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="center">
                <p>张晓刚 </p>
            </td>
            <td width="53" valign="center">
                <p>40 </p>
            </td>
            <td width="80" valign="center">
                <p>讲师 </p>
            </td>
            <td width="91" valign="center">
                <p>计算机系 </p>
            </td>
            <td width="75" valign="center">
                <p>授课 </p>
            </td>
            <td width="140" valign="center">
                <p>是 </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="center">
                <p>刘冬 </p>
            </td>
            <td width="53" valign="center">
                <p>39 </p>
            </td>
            <td width="80" valign="center">
                <p>讲师 </p>
            </td>
            <td width="91" valign="center">
                <p>计算机系 </p>
            </td>
            <td width="75" valign="center">
                <p>授课 </p>
            </td>
            <td width="140" valign="center">
                <p>是 </p>
            </td>
        </tr>
        <tr>
            <td width="78" valign="center">
                <p>王传胜 </p>
            </td>
            <td width="53" valign="center">
                <p>33 </p>
            </td>
            <td width="80" valign="center">
                <p>实验师 </p>
            </td>
            <td width="91" valign="center">
                <p>计算机系 </p>
            </td>
            <td width="75" valign="center">
                <p>实验教学 </p>
            </td>
            <td width="140" valign="center">
                <p>否 </p>
            </td>
        </tr>
    </table>
</div>
