<div class="text-section">
    <h2 class="f-24"><b>&lt;&lt;J2EE及其开发环境&gt;&gt;教学日历</b></h2>
</div>
<div class="content-section all-p-section">
    <table class="team-table" border=1 align=center>
        <tr>
            <td width="72" valign="center" rowspan="2">
                <p>&nbsp;</p>
                <p>学时 </p>
                <p>分配 </p>
            </td>
            <td width="84" valign="center" colspan="3">
                <p>课堂讲授 </p>
            </td>
            <td width="108" valign="center" colspan="2">
                <p>专题讨论 </p>
            </td>
            <td width="132" valign="center" colspan="2">
                <p>实验、社会实践、 </p>
                <p>见习或实习 </p>
            </td>
            <td width="132" valign="center" colspan="2">
                <p>自学指导 </p>
            </td>
            <td width="158" valign="center">
                <p>其他 </p>
            </td>
        </tr>
        <tr>
            <td width="84" valign="top" colspan="3">
                <p>36学时 </p>
                <p>&nbsp;</p>
            </td>
            <td width="108" valign="top" colspan="2">
                <p>&nbsp;</p>
            </td>
            <td width="132" valign="top" colspan="2">
                <p>9学时 </p>
            </td>
            <td width="132" valign="top" colspan="2">
                <p>&nbsp;</p>
            </td>
            <td width="158" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="center" rowspan="2">
                <p>&nbsp;</p>
                <p>使用 </p>
                <p>教材 </p>
            </td>
            <td width="192" valign="center" colspan="5">
                <p>名&nbsp;&nbsp;&nbsp;称 </p>
            </td>
            <td width="132" valign="center" colspan="2">
                <p>出版社 </p>
            </td>
            <td width="132" valign="center" colspan="2">
                <p>版次与 </p>
                <p>出版时间 </p>
            </td>
            <td width="158" valign="center">
                <p>教材特点 </p>
            </td>
        </tr>
        <tr>
            <td width="192" valign="top" colspan="5">
                <p>《JavaEE编程技术》 </p>
            </td>
            <td width="132" valign="top" colspan="2">
                <p>清华大学出版社 </p>
            </td>
            <td width="132" valign="top" colspan="2">
                <p>2008年6月 </p>
            </td>
            <td width="158" valign="top">
                <p>公开出版教材 </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="center" rowspan="2">
                <p>授课 </p>
                <p>语言 </p>
            </td>
            <td width="192" valign="center" colspan="5">
                <p>全中文 </p>
            </td>
            <td width="264" valign="center" colspan="4">
                <p>中、英双语 </p>
            </td>
            <td width="158" valign="center">
                <p>全英语 </p>
            </td>
        </tr>
        <tr>
            <td width="192" valign="top" colspan="5">
                <p>&#8730; </p>
            </td>
            <td width="264" valign="top" colspan="4">
                <p>&nbsp;</p>
            </td>
            <td width="158" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="center" rowspan="2">
                <p>考试（考核）方式 </p>
            </td>
            <td width="120" valign="center" colspan="4" rowspan="2">
                <p>闭卷考试 </p>
            </td>
            <td width="494" valign="center" colspan="6">
                <p>成绩评定方式（期末考试成绩、平时成绩占的比例或其他评定形式） </p>
            </td>
        </tr>
        <tr>
            <td width="494" valign="top" colspan="6">
                <p>期末考试成绩占60%，平时成绩占40% </p>
            </td>
        </tr>
        <tr>
            <td width="72" valign="center" rowspan="3">
                <p>时间 </p>
                <p>地点 </p>
            </td>
            <td width="614" valign="center" colspan="10">
                <p>从第&nbsp;1&nbsp;周至第&nbsp;16&nbsp;周 </p>
            </td>
        </tr>
        <tr>
            <td width="192" valign="center" colspan="5">
                <p>星期一&nbsp;第&nbsp;11节至第13&nbsp;节 </p>
            </td>
            <td width="204" valign="center" colspan="3">
                <p>&nbsp;</p>
            </td>
            <td width="218" valign="center" colspan="2">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="192" valign="top" colspan="5">
                <p>地点一：A1202 </p>
                <p>地点二：南海楼608 </p>
            </td>
            <td width="204" valign="top" colspan="3">
                <p>&nbsp;</p>
            </td>
            <td width="218" valign="top" colspan="2">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="686" valign="center" colspan="11">
                <p>教&nbsp;学&nbsp;任&nbsp;务&nbsp;安&nbsp;排 </p>
            </td>
        </tr>
        <tr>
            <td width="84" valign="center" colspan="2">
                <p>授课 </p>
                <p>教师姓名 </p>
            </td>
            <td width="48" valign="center">
                <p>职称 </p>
            </td>
            <td width="60" valign="center" colspan="2">
                <p>理论 </p>
                <p>学时 </p>
            </td>
            <td width="72" valign="center">
                <p>实验（实 </p>
                <p>践）学时 </p>
            </td>
            <td width="72" valign="center">
                <p>实验（实 </p>
                <p>践）轮次 </p>
            </td>
            <td width="350" valign="center" colspan="4">
                <p>教学的主要内容（章节） </p>
            </td>
        </tr>
        <tr>
            <td width="84" valign="center" colspan="2">
                <p>张晓刚 </p>
            </td>
            <td width="48" valign="center">
                <p>讲师 </p>
            </td>
            <td width="60" valign="center" colspan="2">
                <p>36 </p>
            </td>
            <td width="72" valign="center">
                <p>9 </p>
            </td>
            <td width="72" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="350" valign="center" colspan="4">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="84" valign="center" colspan="2">
                <p>&nbsp;</p>
            </td>
            <td width="48" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="60" valign="center" colspan="2">
                <p>&nbsp;</p>
            </td>
            <td width="72" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="72" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="350" valign="center" colspan="4">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="84" valign="center" colspan="2">
                <p>&nbsp;</p>
            </td>
            <td width="48" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="60" valign="center" colspan="2">
                <p>&nbsp;</p>
            </td>
            <td width="72" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="72" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="350" valign="center" colspan="4">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="84" valign="center" colspan="2">
                <p>&nbsp;</p>
            </td>
            <td width="48" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="60" valign="center" colspan="2">
                <p>&nbsp;</p>
            </td>
            <td width="72" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="72" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="350" valign="center" colspan="4">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="84" valign="center" colspan="2">
                <p>&nbsp;</p>
            </td>
            <td width="48" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="60" valign="center" colspan="2">
                <p>&nbsp;</p>
            </td>
            <td width="72" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="72" valign="center">
                <p>&nbsp;</p>
            </td>
            <td width="350" valign="center" colspan="4">
                <p>&nbsp;</p>
            </td>
        </tr>
    </table>
    <p class="mt-20 f-24"><b>课程教学进程</b></p>
    <table class="team-table" border=1 align=center>
        <tr>
            <td width="28" valign="center" rowspan="2">
                <p>周 </p>
                <p>序 </p>
            </td>
            <td width="28" valign="center" rowspan="2">
                <p>课 </p>
                <p>次 </p>
            </td>
            <td width="73" valign="center" colspan="2">
                <p>学时数 </p>
            </td>
            <td width="378" valign="center" rowspan="2">
                <p>教学的主要内容 </p>
            </td>
            <td width="60" valign="center" rowspan="2">
                <p>授 </p>
                <p>课 </p>
                <p>教 </p>
                <p>师 </p>
            </td>
            <td width="84" valign="center" rowspan="2">
                <p>执 </p>
                <p>行 </p>
                <p>情 </p>
                <p>况 </p>
            </td>
        </tr>
        <tr>
            <td width="37" valign="top">
                <p>理 </p>
                <p>论 </p>
            </td>
            <td width="36" valign="top">
                <p>实 </p>
                <p>践 </p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="2">
                <p>1 </p>
            </td>
            <td width="28" valign="top">
                <p>1 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第1章&nbsp;Web应用概述：1.1&nbsp;Web应用的出现1.2&nbsp;Internet的几个关键属性 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>2 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第1章&nbsp;Web应用概述：1.3&nbsp;可扩展和高性能的Web应用1.4&nbsp;Web应用的体系结构及开发技术2.2&nbsp;JavaEE应用打包与部署&nbsp;2.3&nbsp;JavaEE应用开发角色&nbsp;2.4&nbsp;更多内容 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="3">
                <p>2 </p>
            </td>
            <td width="28" valign="top">
                <p>3 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第2章&nbsp;JavaEE概述：2.1&nbsp;JavaEE总览 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>4 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第2章&nbsp;JavaEE概述：&nbsp;2.2&nbsp;JavaEE应用打包与部署&nbsp;2.3&nbsp;JavaEE应用开发角色&nbsp;2.4&nbsp;更多内容 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>5 </p>
            </td>
            <td width="37" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="36" valign="top">
                <p>1 </p>
            </td>
            <td width="378" valign="top">
                <p>实验一&nbsp;搭建JavaEE&nbsp;开发环境（上） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="2">
                <p>3 </p>
            </td>
            <td width="28" valign="top">
                <p>6 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第3章HTML基础知识：3.1&nbsp;HTML基本格式3.2&nbsp;文本及版面风格控制&nbsp;3.3&nbsp;&nbsp;图像、超链接和表格3.4&nbsp;HTML表单制作 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>7 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第4章&nbsp;HTTP协议：3.1&nbsp;HTTP协议概述3.2&nbsp;Web应用部署模式3.3&nbsp;HTTP协议的基本内容&nbsp; </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="3">
                <p>4 </p>
            </td>
            <td width="28" valign="top">
                <p>8 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第4章&nbsp;HTTP协议：3.3&nbsp;HTTP协议的基本内容&nbsp;3.4&nbsp;网络抓包分析HTTP协议 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>9 </p>
            </td>
            <td width="37" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="36" valign="top">
                <p>1 </p>
            </td>
            <td width="378" valign="top">
                <p>第5章&nbsp;J2EE开发环境的构建：5.1&nbsp;概述5.2&nbsp;基于Eclipse的JavaEE集成开发环境&nbsp;5.3&nbsp;基于NetBeans的JavaEE集成开发环境&nbsp;5.4&nbsp;开发环境测试 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>10 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>实验一&nbsp;搭建JavaEE&nbsp;开发环境（下） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="2">
                <p>5 </p>
            </td>
            <td width="28" valign="top">
                <p>11 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第6章&nbsp;基于Java&nbsp;Servlet的Web程序开发：6.1&nbsp;Java&nbsp;Servlet概述6.2&nbsp;Java&nbsp;Servlet的编程原理（上） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>12 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第6章&nbsp;基于Java&nbsp;Servlet的Web程序开发：6.2&nbsp;Java&nbsp;Servlet的编程原理（下） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="3">
                <p>6 </p>
            </td>
            <td width="28" valign="top">
                <p>13 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第6章&nbsp;基于Java&nbsp;Servlet的Web程序开发：6.3&nbsp;Java&nbsp;Servlet所需开发环境6.4&nbsp;Java&nbsp;Servlet举例（上） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>14 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第6章&nbsp;基于Java&nbsp;Servlet的Web程序开发：6.4&nbsp;Java&nbsp;Servlet举例（中） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>15 </p>
            </td>
            <td width="37" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="36" valign="top">
                <p>1 </p>
            </td>
            <td width="378" valign="top">
                <p>实验二&nbsp;Eclipse&nbsp;下&nbsp;Servlet编程（上） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="2">
                <p>7 </p>
            </td>
            <td width="28" valign="top">
                <p>16 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第6章&nbsp;基于Java&nbsp;Servlet的Web程序开发：6.4&nbsp;Java&nbsp;Servlet举例（下）6.5&nbsp;开发Java&nbsp;Servlet的过程 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>17 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第7章&nbsp;基于JSP的Web程序开发：7.1&nbsp;JSP概述7.2&nbsp;JSP的编程原理（上） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="3">
                <p>8 </p>
            </td>
            <td width="28" valign="top">
                <p>18 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第7章&nbsp;基于JSP的Web程序开发：&nbsp;7.2&nbsp;JSP的编程原理（下）7.3&nbsp;JSP所需开发环境 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>19 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第7章&nbsp;基于JSP的Web程序开发：7.4&nbsp;JSP简单页面示例 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>20 </p>
            </td>
            <td width="37" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="36" valign="top">
                <p>1 </p>
            </td>
            <td width="378" valign="top">
                <p>实验二&nbsp;Eclipse&nbsp;下&nbsp;Servlet编程（下） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="2">
                <p>9 </p>
            </td>
            <td width="28" valign="top">
                <p>21 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第7章&nbsp;基于JSP的Web程序开发：&nbsp;7.5&nbsp;JSP编程模型<a name="OLE_LINK1">7.6&nbsp;JSP标签扩展（上）</a></p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>22 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第7章&nbsp;基于JSP的Web程序开发：7.6&nbsp;JSP标签扩展（中）7.7&nbsp;JSP/Servlet联合编程 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="3">
                <p>10 </p>
            </td>
            <td width="28" valign="top">
                <p>23 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第7章&nbsp;基于JSP的Web程序开发：7.6&nbsp;JSP标签扩展（下） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>24 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第8章&nbsp;基于Java的数据库访问接口JDBC：8.1&nbsp;JDBC概述 </p>
                <p>8.2&nbsp;JDBC&nbsp;标准以及主要接口和类8.3&nbsp;JDBC的体系结构 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>25 </p>
            </td>
            <td width="37" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="36" valign="top">
                <p>1 </p>
            </td>
            <td width="378" valign="top">
                <p>实验三&nbsp;JavaBean&nbsp;在JSP页面中的应用 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="2">
                <p>11 </p>
            </td>
            <td width="28" valign="top">
                <p>26 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第8章&nbsp;基于Java的数据库访问接口JDBC：8.4&nbsp;JDBC程序设计8.5&nbsp;JDBC程序示例（上） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>27 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第8章&nbsp;基于Java的数据库访问接口JDBC：8.5&nbsp;JDBC程序示例（下） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="3">
                <p>12 </p>
            </td>
            <td width="28" valign="top">
                <p>28 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第9章&nbsp;EJB的原理及开发：&nbsp;9.1&nbsp;EJB概念及工作原理（上） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>29 </p>
            </td>
            <td width="37" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="36" valign="top">
                <p>1 </p>
            </td>
            <td width="378" valign="top">
                <p>实验四&nbsp;JSP扩展标签编程（上） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>30 </p>
            </td>
            <td width="37" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="36" valign="top">
                <p>1 </p>
            </td>
            <td width="378" valign="top">
                <p>实验四&nbsp;JSP扩展标签编程（下） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="2">
                <p>13 </p>
            </td>
            <td width="28" valign="top">
                <p>31 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第9章&nbsp;EJB的原理及开发：&nbsp;9.1&nbsp;EJB概念及工作原理（下）9.2&nbsp;EJB的开发 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>32 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第10章&nbsp;JavaEE开源框架介绍：9.1&nbsp;框架技术&nbsp;9.2&nbsp;&nbsp;JavaEE开源框架 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="3">
                <p>14 </p>
            </td>
            <td width="28" valign="top">
                <p>33 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第10章&nbsp;JavaEE开源框架介绍：9.3&nbsp;表示层框架Struts（上）实验一&nbsp;搭建JavaEE&nbsp;开发环境 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>34 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第10章&nbsp;JavaEE开源框架介绍：9.3&nbsp;表示层框架Struts（下）&nbsp; </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>35 </p>
            </td>
            <td width="37" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="36" valign="top">
                <p>1 </p>
            </td>
            <td width="378" valign="top">
                <p>实验五&nbsp;Eclipse&nbsp;下&nbsp;JDBC&nbsp;编程 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="2">
                <p>15 </p>
            </td>
            <td width="28" valign="top">
                <p>36 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第10章&nbsp;JavaEE开源框架介绍：9.4&nbsp;业务逻辑层框架Spring&nbsp; </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>37 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第10章&nbsp;JavaEE开源框架介绍：9.5&nbsp;数据持久层框架Hibernate&nbsp; </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top" rowspan="3">
                <p>16 </p>
            </td>
            <td width="28" valign="top">
                <p>38 </p>
            </td>
            <td width="37" valign="top">
                <p>1 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>第10章&nbsp;JavaEE开源框架介绍：9.6&nbsp;基于SSH组合框架的Web应用 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>39 </p>
            </td>
            <td width="37" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="36" valign="top">
                <p>1 </p>
            </td>
            <td width="378" valign="top">
                <p>实验六&nbsp;JavaEE框架及web应用综合开发（上） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>40 </p>
            </td>
            <td width="37" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="36" valign="top">
                <p>1 </p>
            </td>
            <td width="378" valign="top">
                <p>实验六&nbsp;JavaEE框架及web应用综合开发（下） </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>17 </p>
            </td>
            <td width="28" valign="top">
                <p>41、42 </p>
            </td>
            <td width="37" valign="top">
                <p>2 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>答疑 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
        <tr>
            <td width="28" valign="top">
                <p>18 </p>
            </td>
            <td width="28" valign="top">
                <p>43、44、45 </p>
            </td>
            <td width="37" valign="top">
                <p>3 </p>
            </td>
            <td width="36" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="378" valign="top">
                <p>复习 </p>
            </td>
            <td width="60" valign="top">
                <p>&nbsp;</p>
            </td>
            <td width="84" valign="top">
                <p>&nbsp;</p>
            </td>
        </tr>
    </table>
    <p class="mt-20">教研室主任（签章）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系（部）主任（签章）&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p>
    <p>200&nbsp;&nbsp;年&nbsp;&nbsp;月&nbsp;&nbsp;日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;200&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;日 </p>
</div>
