<div class="text-section all-p-section">
    <p class="f-24"><b>实验要求</b></p>
    <p>《J2EE及其开发环境》课程实验的目的是为了使学生在课程学习的同时，首先了解一些Serlevet&nbsp;JSP,EJB等基础知识以外，还需要进一步锻炼同学们对Eclipse&nbsp;Jboss等开发环境的使用。通过上述实验环节，使学生加深了解和更好地掌握《J2EE及其开发环境》课程教学大纲要求的内容。 </p>
    <p>在《J2EE及其开发环境》的课程实验过程中，要求学生做到： </p>
    <p>（1）预习实验指导书有关部分，认真做好实验内容的准备，就实验可能出现的情况提前作出思考和分析。 </p>
    <p>（2）仔细观察上机操作时出现的各种现象，记录主要情况，作出必要说明和分析。 </p>
    <p>（3）认真书写实验报告。实验报告包括实验目的和要求，实验情况及其分析。对需编程的实验，写出程序设计说明，给出源程序框图和清单。 </p>
    <p>（4）遵守机房纪律，服从辅导教师指挥，爱护实验设备。 </p>
    <p>（5）实验课程不迟到。如有事不能出席，所缺实验一般不补。 </p>
    <p></p>
    <p>实验的验收将分为两个部分。第一部分是上机操作，包括检查程序运行和即时提问。第二部分是提交书面的实验报告。此外，针对以前教学中出现的问题，网络实验将采用阶段检查方式，每个实验都将应当在规定的时间内完成并检查通过，过期视为未完成该实验，不计成绩。以避免期末集中检查方式产生的诸多不良问题，希望同学们抓紧时间，合理安排，认真完成。 </p>
</div>
<div class="text-section">
    <p class="f-24"><b>具体实验</b></p>
</div>
<ul class="word-list">
    <li class="list-item clearfix" ui-sref="experiment_1">
        实验一
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="experiment_2">
        实验二
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="experiment_3">
        实验三
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="experiment_4">
        实验四
        <i class="iconfont icon-arrow"></i>
    </li>
    <li class="list-item clearfix" ui-sref="experiment_5">
        实验五
        <i class="iconfont icon-arrow"></i>
    </li>
</ul>
