<div class="text-section">
    <h2 class="f-24"><b>&lt;&lt;J2EE及其开发环境&gt;&gt;教学大纲</b></h2>
</div>
<div class="content-section all-p-section">
    <p>课程编号：08060103 </p>
    <p>课程英文名：J2EE&nbsp;and&nbsp;its&nbsp;development&nbsp;environment </p>
    <p>课程性质：专业课 </p>
    <p>课程类别：选修课 </p>
    <p>先修课程：Java程序设计 </p>
    <p>学&nbsp;&nbsp;&nbsp;&nbsp;分：2学分 </p>
    <p>总学时数：45学时 </p>
    <p>周学时数：2学时 </p>
    <p>适用专业：计算机科学与技术、软件工程、网络工程 </p>
    <p>适用学生类别：内外招生 </p>
    <p>开课单位：信息学院计算机系 </p>
    <p><b>一、教学目标及教学要求 </b></p>
    <p>教学目标：本课程是为计算机科学系各相关专业高年级学生开设的专业选修课。通过这门课的学习，使学生掌握J2EE的体系结构及相关的知识，并且重点掌握J2EE&nbsp;Web程序开发的Java&nbsp;Servlet、JSP以及JDBC等主要技术。另外，课程通过开源的J2EE开发环境Eclipse+Lomboz+Jboss+MySQL，提高学生开发实际J2EE应用的能力。 </p>
    <p>教学要求： </p>
    <p>&#9312;&nbsp;本课程把J2EE开发的基本方法和基本技能作为教学的重点内容，要求学生通过实践环节掌握J2EE开发的基本方法并不断提高开发的基本技能。 </p>
    <p>&#9313;坚持理论密切联系实际，讲授时尽可能理论联系实际，深入浅出地讲解，让学生容易理解，并且注重开拓学生的思路，引导学生积极思考。 </p>
    <p>&#9314;根据正常教学进度布置书面作业和上机作业，要求学生按时完成。 </p>
    <p><b>二、本课程的重点和难点 </b></p>
    <p>重点：J2EE规范以及相关技术框架；HTTP协议原理；J2EE开发环境的构建；基于Java&nbsp;Servlet的Web程序开发；基于JSP的Web程序开发；基于Java的数据库访问接口JDBC。 </p>
    <p>难点：基于Java&nbsp;Servlet的Web程序开发；基于JSP的Web程序开发；基于Java的数据库访问接口JDBC；EJB编程原理以及开发方法。 </p>
    <p><b>三、主要实践性教学环节及要求 </b></p>
    <p>1．J2EE开发环境的构建 </p>
    <p>&#9;要求熟悉常见的J2EE开发环境，并且要掌握开源的J2EE开发环境Eclipse+Lomboz+Jboss+MySQL的构建和配置。 </p>
    <p>2．基于Java&nbsp;Servlet的Web程序开发 </p>
    <p>&#9;要求理解Java&nbsp;Servlet的原理，掌握使用Java&nbsp;Servlet开发Web服务器程序。 </p>
    <p>3．基于JSP的Web程序开发 </p>
    <p>&#9;要求理解JSP的原理以及与Java&nbsp;Servlet的关系，并且掌握使用JSP和Java&nbsp;Servlet共同开发Web服务器程序。 </p>
    <p>4．基于Java的数据库访问接口JDBC </p>
    <p>&#9;要求理解和熟悉Java的数据库访问接口JDBC，能够熟练使用各数据库厂商提供的JDBC驱动程序对各大常用数据库进行API访问。 </p>
    <p>5．J2EE&nbsp;Web程序开发综合实例 </p>
    <p>&#9;掌握使用各种技术在J2EE框架下进行Web程序的综合开发。 </p>
    <p><b>四、采用的教学手段和方法 </b></p>
    <p>课堂使用PowerPoint讲授与相关示例程序运行演示相结合。 </p>
    <p><b>五、教材与主要参考文献 </b></p>
    <p>教材： </p>
    <p>[1]&nbsp;郝玉龙.J2EE编程技术.北京：清华大学出版社，2005 </p>
    <p>参考文献： </p>
    <p>[1]&nbsp;Greg&nbsp;Barish&nbsp;著.林琪&nbsp;英宇&nbsp;译.J2EE&nbsp;Web应用高级编程.北京：清华大学出版社，2002 </p>
    <p>[2]&nbsp;肖刚.Java&nbsp;Web服务器应用程序设计.北京：电子工业出版社，2001 </p>
    <p>[3]&nbsp;Aaron&nbsp;E.Walsh&nbsp;著.&nbsp;李化&nbsp;潇东&nbsp;译.J2EE&nbsp;1.4基础教程.北京：清华大学出版社，2003 </p>
    <p><b>六、考核形式与成绩计算 </b></p>
    <p>考核形式：闭卷考试。 </p>
    <p>成绩计算：总评成绩=卷面成绩&#215;70%+平时成绩&#215;30%。（平时成绩主要包括作业和考勤） </p>
    <p><b>七、基本教学内容 </b></p>
    <p>第1章&nbsp;&nbsp;Web应用概述（2学时） </p>
    <p>1.&nbsp;教学内容 </p>
    <p>（1）Web应用的出现； </p>
    <p>（2）Internet的几个关键属性； </p>
    <p>（3）可扩展和高性能的Web应用； </p>
    <p>（4）Web应用的体系结构及开发技术。 </p>
    <p>2．教学基本要求 </p>
    <p>&#9;要求理解Web应用出现的背景；掌握Internet的关键属性，以及如何提高Web应用的可扩展性和高性能；重点掌握Web应用的体系结构以及常用的开发技术框架。 </p>
    <p>第2章&nbsp;&nbsp;J2EE规范以及相关技术概述（8学时） </p>
    <p>1.&nbsp;教学内容 </p>
    <p>（1）J2EE的产生背景和历史； </p>
    <p>（2）J2EE的开发思想和优势； </p>
    <p>（3）J2EE分布式多层应用的结构； </p>
    <p>（4）J2EE的相关技术； </p>
    <p>（5）基于J2EE规范的应用服务器介绍。 </p>
    <p>2．教学基本要求 </p>
    <p>&#9;要求理解J2EE的产生背景和历史；掌握J2EE的开发思想和优势、J2EE分布式多层应用的结构；初步了解J2EE框架的相关技术和常见的基于J2EE规范的应用服务器。 </p>
    <p>3．重点与难点 </p>
    <p>&#9;重点：J2EE产生背景和历史；J2EE的开发思想和优势；J2EE分布式多层应用的结构组成。 </p>
    <p>&#9;难点：J2EE开发思想；J2EE分布式多层应用的结构组成。 </p>
    <p>第3章&nbsp;&nbsp;HTTP协议（2学时） </p>
    <p>1.&nbsp;教学内容 </p>
    <p>（1）HTTP协议概述； </p>
    <p>（2）Web应用部署模式； </p>
    <p>（3）HTTP协议的基本内容。 </p>
    <p>2．教学基本要求 </p>
    <p>要求熟悉Web应用部署模式，掌握HTTP协议及其基本内容。 </p>
    <p>3．重点与难点 </p>
    <p>重点：HTTP协议概述；Web应用部署模式分类；HTTP协议的基本内容。 </p>
    <p>难点：Web应用部署模式分类。 </p>
    <p>第4章&nbsp;&nbsp;J2EE开发环境的构建（4学时） </p>
    <p>1.&nbsp;教学内容 </p>
    <p>（1）概述； </p>
    <p>（2）安装相应软件； </p>
    <p>（3）开发环境测试。 </p>
    <p>2．教学基本要求 </p>
    <p>&#9;要求掌握开源的J2EE开发环境Eclipse+&nbsp;Lomboz+&nbsp;Jboss+&nbsp;MySQL的安装和配置，并对开发环境进行测试。 </p>
    <p>第5章&nbsp;&nbsp;基于Java&nbsp;Servlet的Web程序开发（8学时） </p>
    <p>1.&nbsp;教学内容 </p>
    <p>（1）Java&nbsp;Servlet概述； </p>
    <p>（2）Java&nbsp;Servlet的编程原理； </p>
    <p>（3）Java&nbsp;Servlet举例； </p>
    <p>（4）开发Java&nbsp;Servlet的过程。 </p>
    <p>2．教学基本要求 </p>
    <p>&#9;要求理解Java&nbsp;Servlet的编程原理，并能够熟练掌握Java&nbsp;Servlet的开发过程。 </p>
    <p>3．重点与难点 </p>
    <p>&#9;重点：&nbsp;Java&nbsp;Servlet的编程原理；开发Java&nbsp;Servlet的过程。 </p>
    <p>&#9;难点：Java&nbsp;Servlet的编程原理。 </p>
    <p>第6章&nbsp;&nbsp;基于JSP的Web程序开发（8学时） </p>
    <p>1.&nbsp;教学内容 </p>
    <p>（1）JSP概述； </p>
    <p>（2）JSP的编程原理； </p>
    <p>（3）JSP简单页面示例； </p>
    <p>（4）JSP编程模型； </p>
    <p>（5）JSP标签扩展； </p>
    <p>（6）JSP/Servlet联合编程。 </p>
    <p>2．教学基本要求 </p>
    <p>理解JSP的编程原理以及Java&nbsp;Servlet和JSP的关系；掌握JSP编程模型、JSP标签扩展；并能够熟练使用JSP和Java&nbsp;Servlet进行联合编程。 </p>
    <p>3．重点与难点 </p>
    <p>重点：JSP的编程原理；JSP编程模型；如何定义和使用JSP扩展标签；JSP/Servlet联合编程模式。 </p>
    <p>难点：如何定义和使用JSP扩展标签；JSP/Servlet联合编程模式。 </p>
    <p>第7章&nbsp;&nbsp;基于Java的数据库访问接口JDBC（6学时） </p>
    <p>1.&nbsp;教学内容 </p>
    <p>（1）JDBC概述； </p>
    <p>（2）JDBC&nbsp;标准以及主要接口和类； </p>
    <p>（3）JDBC的体系结构； </p>
    <p>（4）JDBC程序设计； </p>
    <p>（5）JDBC程序示例。 </p>
    <p>2．教学基本要求 </p>
    <p>掌握JDBC标准以及主要接口和类；掌握JDBC的体系结构以及JDBC程序的一般执行步骤。 </p>
    <p>3．重点与难点 </p>
    <p>重点：JDBC&nbsp;标准以及主要接口和类；JDBC的体系结构；JDBC程序设计的一般方法和步骤。 </p>
    <p>难点：JDBC的体系结构；JDBC程序设计的一般方法和步骤。 </p>
    <p>第8章&nbsp;&nbsp;EJB编程（4学时） </p>
    <p>1.&nbsp;教学内容 </p>
    <p>（1）EJB基础知识； </p>
    <p>（2）无状态会话Bean； </p>
    <p>（3）有状态会话Bean； </p>
    <p>（4）CMP实体EJB； </p>
    <p>（5）BMP实体EJB； </p>
    <p>（6）消息驱动Bean。 </p>
    <p>2．教学基本要求 </p>
    <p>&#9;掌握EJB基础知识；并且掌握各种EJB的编程原理和开发方法。 </p>
    <p>3．重点与难点 </p>
    <p>&#9;重点：无状态会话Bean、有状态会话Bean、CMP实体EJB、BMP实体EJB以及消息驱动Bean的原理和开发方法。 </p>
    <p>&#9;难点：CMP实体EJB和BMP实体EJB的编程原理和开发方法。 </p>
    <p>第9章&nbsp;&nbsp;Web程序开发综合实例（3学时） </p>
    <p>1.&nbsp;教学内容 </p>
    <p>（1）J2EE体系架构基本知识； </p>
    <p>（2）项目背景介绍； </p>
    <p>（3）数据库设计； </p>
    <p>（4）系统整体架构； </p>
    <p>（5）系统代码实现； </p>
    <p>（6）系统部署。 </p>
    <p>2．教学基本要求 </p>
    <p>&#9;通过本章的综合示例开发，掌握在J2EE体系架构下进行综合Web应用开发的一般方法和步骤。 </p>
    <br/>
    <br/>
    <br/>
    <br/>
    <p>撰写人：张晓刚 审核人： </p>
    <p>撰写日期：2006.5 审核日期：</p>
</div>
